/* Mobile View */
body{
    background-color: #FFFFED;
}

nav{
    padding: 50px 5px 20px 5px;
}

nav li{
    padding: 10px;
    font-size: larger;
}

nav ul{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
}

.skip a{
    position: absolute;
    color: #00274C;
    border: 2px solid #00274C;
    top: -40px;
    left: 10px;
}

.skip a:focus{
    top: 20px;
}

.active{
    text-transform: uppercase;
    font-weight: bolder;
}

header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    color: #00274C;
}

h1{
    font-size: 50px;
    position: relative;
    top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    color: #00274C;
    position: relative;
}

figure{
    float: initial;
    width: 70%;
    text-align: center;
    color: #00274C;
}

figcaption{
    display: none;
    margin: 10px;
}

.grid{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    margin: 20px;
    grid-gap: 30px;
}

p{
    width: 75%;
    text-align: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #00274C;
}

.video{
    object-fit: cover;
}

/* Tablet View */
@media screen and (min-width: 700px){
   
    nav{
        padding-top: 70px;
    }

    nav li{
        display: inline;
    }

    nav ul{
        flex-direction: column-reverse;
        display: inline;
    }

    .grid{
        grid-template-columns: auto auto;
        grid-gap: 50px;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }

    figure{
        width: 100%;
    }

    figcaption{
        display: block;
    }

    .large{
        display: none;
    }

}

/* Large Screen View */
@media screen and (min-width: 1000px){
    
    .grid{
        grid-template-columns: auto auto auto;
        align-items: flex-start;
    }

    header{
        align-items: flex-start;
        padding-left: 30px;
        padding-bottom: 50px;
    }

    nav{
        position: absolute;
        top: -10px;
        right: 30px;
    }

    .large{
        display: block;
    }

    .tablet{
        display: none;
    }
}